<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
  <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=tsabblob;AccountKey=vdega7/wiuH/na9zTqF4fFlAY4ZMLn6JYv3IJMVN0UFl5vii/7PDnqcxHGPqnFjp+zyV0gcwNNY6o3WXOna8jQ==" />
  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="Server=tcp:eebwrmoaap.database.windows.net,1433;Database=typical-saitama-admin-bot-db;User ID=tt-service1-db-user@eebwrmoaap;Password=High5RaceFaster;Trusted_Connection=False;Encrypt=True;Connection Timeout=120;" />
    <add name="local" connectionString="Server=(local);Database=localTsabDb;Integrated security=true;Connection Timeout=120;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>